$blue-dark: #214080;
$blue-main: #2954b1;

// @font-face {
//   font-family: "Circe Extra Light";
//   src: url(fonts/Circe/CRC25.otf) format("opentype");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "Circe Light";
//   src: url(fonts/Circe/CRC35.otf) format("opentype");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "Circe";
//   src: url(fonts/Circe/CRC55.otf) format("opentype");
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: "Circe Bold";
//   src: url(fonts/Circe/CRC65.otf) format("opentype");
//   font-weight: normal;
//   font-style: normal;
// }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s;
  font-family: "Circe", sans-serif;
  color: #fff;
  letter-spacing: 1px;
}
button,
a {
  cursor: pointer;
  border: none;
  outline: none;
}
%white-button {
  border-radius: 15px;
  padding: 10px 30px;
  text-align: center;
  color: $blue-dark;
  background-color: #fff;
  border: none;
  outline: none;
}
%blue-button {
  border-radius: 15px;
  padding: 10px 20px;
  background: linear-gradient(263.16deg, #214080 -5.59%, #2954b1 85.18%);
  filter: drop-shadow(0px 0px 20px rgba(41, 84, 177, 0.5));
  border: none;
  outline: none;
}
body {
  position: relative;
  main {
    background-color: #f1f7ff;
    position: relative;
    header {
      width: 100%;
      height: 70px;
      background-color: $blue-main;
      div {
        width: 70%;
        margin: 0 auto;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        .left {
          width: 20%;
        }
        .menu {
          width: 80%;

          display: flex;

          justify-content: start;

          a {
            text-decoration: none;
          }
        
          &.enable {
            .nav {
              display: flex;
            }
          }
          .burger-menu-btn {
            background-color: transparent;
            display: none;
            &.enable{
              transform: rotate(90deg);
            }
            .burger {
              display: flex;
              justify-content: right;
              height: auto;
              .burger-body {
                margin: 20px 0;

                display: flex;

                flex-direction: column;
                height: auto;
                gap: 5px;
                width: 35px;

                div {
                  width: 35px;
                  height: 3px;
                  background-color: #fff;
                  border-radius: 20px;
                }
              }
            }
          }
          .nav {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .middle {
              a {
                text-decoration: none;
                text-wrap: nowrap;
                font-size: clamp(15px, 1.82vw, 20px);
                color: #fff;
                font-family: "Circe Extra Light", sans-serif;
                padding: 0 10px;
              }
            }
            .right {
              display: flex;
              justify-content: center;
              gap: 5px;
              position: relative;
              p {
                color: #fff;
                font-weight: 800;
                font-size: clamp(15px, 1.82vw, 20px);
                text-wrap: nowrap;
                a {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
      position: fixed;
      z-index: 4;
      top: 0;
      left: 0;
    }
    position: relative;
      .main-section {
      .home {
        background: url(images/bg.webp), no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        // height: clamp(500px, 77.92vw, 996px);
        height: auto;
        padding-top: 50px;
        display: block;
        .home-body {
          width: 70%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 auto;
          .right {
            display: flex;
            width: 50%;
            justify-content: left;
            align-items: center;
            padding-right: 40px;
            position: relative;
            
            .item{
              position:absolute;
              // backdrop-filter: blur(10px);
              border-radius: 20px;
              cursor: pointer;
              &:nth-child(1){
                width: clamp(215px, 28.39vw, 300px);
                bottom: 0;
                left: -15%;
              
              }
              &:nth-child(2){
                width:  clamp(215px, 28.39vw, 300px);
                top: -5%;
                right: 0;
              }
            }
            #man-phone {
              width: clamp(411px, 59.48vw, 631px);
              height: clamp(341px, 54.48vw, 605px);
            }
          }
          .left {
            padding-top: 7%;
            width: 60%;
            position: relative;
            #take-advantage {
              font-size: clamp(14px, 2.29vw, 30px);
              font-family: "Circe", sans-serif;
            }
            #name {
              font-size: clamp(36px, 5vw, 80px);
              font-weight: 600;
              white-space: nowrap;
            }
            #info {
              font-size: clamp(11px, 1.88vw, 25px);
              font-weight: 100;
              font-family: "Circe Extra Light", sans-serif;
              margin-bottom: 50px;
            }
            .buttons {
              display: flex;
              gap: 10px;
              #consultation {
                @extend %white-button;
                display: flex;
                align-items: center;
                justify-content: center;
                width: clamp(122px, 20.42vw, 270px);
                height: clamp(45px, 5.99vw, 70px);
                padding: 0;
                p {
                  color: $blue-dark;
                  font-size: clamp(12px, 1.98vw, 26px);
                  font-family: "Circe Bold", sans-serif;
                }
              }
              #demo-version {
                @extend %blue-button;
                font-size: clamp(12px, 1.98vw, 26px);
                width: clamp(97px, 16.82vw, 226px);
                padding: 0;
                font-family: "Circe Bold", sans-serif;
              }
            }
            #arrow-bottom {
              position: relative;
              left: -10%;
              bottom: -10%;
              transform: rotate(90deg);
            }
          }
        }
      }
      .about-us {
        // height: 100vh; 
        color: #000;
        // padding-left: 15%;
        // padding-right: 15%;
        width: 70%;
        margin: 0 auto;
        padding-top: 50px;

        .about-body {
          display: flex;
          justify-content: space-between;
          gap: 50px;
          width: 100%;
          padding-bottom: 50px;
          .left {
            width: 60%;
            img {
              max-width: 100%;
            }
          }
          .right {
            #title {
              color: $blue-dark;
              font-family: "Circe Bold", sans-serif;
              font-size: clamp(20px, 4.17vw, 60px);
            }
            #about {
              color: #000000;
              font-size: clamp(11px, 1.88vw, 25px);
              white-space: nowrap;
            }
          }
        }
        .problem-solving {
          margin-top: 50px;
          #title {
            font-family: "Circe Bold", sans-serif;
            font-size: clamp(20px, 4.17vw, 60px);
            color: $blue-dark;
            margin-bottom: 15px;
          }
          .body {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 50px;
            .card {
              height: auto;
              display: flex;
              gap: 10px;
              .left {
                div {
                  height: 100%;
                  width: 6px;
                  border-radius: 15px;
                  background-color: $blue-dark;
                }
              }
              .right {
                #title-card {
                  font-family: "Circe Bold", sans-serif;
                  font-size: clamp(13px, 2.45vw, 34px);
                  color: $blue-dark;
                }
                #about-card {
                  font-family: "Circe", sans-serif;
                  font-size: clamp(11px, 1.61vw, 20px);
                  color: #000000;
                }
              }
            }
          }
        }
      }
      .solution {
        // padding-left: 15%;
        // padding-right: 15%;
        // margin-top: 50px;
        // padding-top: 10%;

        width: 70%;
        margin: 50px auto 0;
        #title {
          font-family: "Circe Bold", sans-serif;
          font-size: 60px;
          color: $blue-dark;
          margin-bottom: 50px;
        }
        .body {
          display: grid;
          grid-template-columns: 1fr 1fr 2fr;
          margin-bottom: 100px;
          gap: 20px;
          .card {
            width: auto;
            height: 386px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
            .dots {
              display: flex;
              gap: 10px;
              p {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: #929292;
                color: #a9a9a9;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;

                filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));

                &#active {
                  background-color: $blue-dark;
                  color: #fff;

                  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
                }
              }
            }
            &:nth-child(1) {
              background: url(images/image-1.png), no-repeat;
              background-size: 100% 100%;
            }
            &:nth-child(2) {
              background: url(images/image-2.png), no-repeat;
              background-size: 100% 100%;
            }
            &:nth-child(3) {
              background: url(images/image-3.png), no-repeat;
              background-size: 100% 100%;

              justify-content: space-between;
              align-items: end;
            }
          }
        }
      }
      .products {
        width: 70%;
        margin: 0 auto;
        #title {
          color: $blue-dark;
          font-size: 60px;
          font-family: "Circe Bold", sans-serif;
        }
        .body {
          
          .cards {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .card {
              box-shadow: 0px 0px 16.0954px rgba(0, 0, 0, 0.1);
              border-radius: 17.8838px;
              
              width: 50%;

              padding: 30px;
              background: linear-gradient(
                  rgba(255, 255, 255, 0.96),
                  rgba(255, 255, 255, 0.96)
                ),
                url("images/bag-1.png") no-repeat;
              background-size: cover;
              button {
                @extend %blue-button;
                margin: 0;
                filter: none;
              }
              p {
                color: #000;
              }
              #card-title {
                font-family: "Circe", sans-serif;
                font-size: clamp;
                font-size: clamp(10px, 1.46vw, 18px);
              }
              #card-about {
                font-family: "Circe", sans-serif;
                margin-bottom: 15px;
                font-size: clamp(10px, 1.46vw, 18px);
              }
              #card-name {
                font-family: "Circe Bold", sans-serif;
                font-size: clamp(17px, 2.45vw, 30px);
                margin-bottom: 15px;
              }
              #card-price {
                margin-bottom: 5%;
                #full-price {
                  font-size: clamp(20px, 2.86vw, 35px);
                }
                #price-per-month {
                  font-size: clamp(13px, 1.72vw, 20px);
                }
                #price-month {
                  color: #2954b1b6;
                  font-size: clamp(9px, 1.20vw, 14px);
                }
              }
            }
          }
          .table {
            display: flex;
            width: 100%;
            position: relative;
            margin-top: 30px;
            height: 300px;
            overflow: hidden;
            z-index: 2;
            margin-bottom: 10px;
            #hidden {
              position: absolute;

              width: 100%;
              z-index: 3;
              height: 100%;
              background: linear-gradient(to top, #f1f7ff 5%, transparent 80%);
            }
            table {
              background-color: #fff;
              width: 100%;
              border-radius: 20px;
              z-index: 1;
              position: relative;
              border: 1px solid rgba(41, 84, 177, 0.5);
              box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
              row-gap: 10px;
              padding: 0 30px;

              tr {
                border-top: 2px solid #{$blue-dark}50;
              }
              tr {
                th {
                  padding: 30px 10px;
                  color: $blue-dark;
                  font-size: 20px;
                  font-weight: 200;
                  text-align: center;
                }
                th:first-child {
                  text-align: left;
                }
                td:not(:first-child) {
                  img {
                    width: 30px;
                  }
                  text-align: center;
                }
                td:first-child {
                  display: flex;
                  gap: 5px;
                }
                td,
                th {
                  padding: 10px;
                }
                td {
                  border-top: 1px solid #{$blue-dark}30;
                  position: relative;
                  div {
                    .alert {
                      position: absolute;
                      top: 40%;
                      right: -10%;
                      color: #000;
                      display: none;
                      background-color: #fff;
                      z-index: 9;
                      border-radius: 0 20px 20px 20px;
                      padding: 15px;
                      box-shadow: 0px 0px 32.5px rgba(0, 0, 0, 0.2);
                      font-size: 15px;
                    }

                    &:hover {
                      .alert {
                        display: block;
                      }
                    }
                  }
                }
                p {
                  color: #000;
                }
              }
            }
          }
          .production {
            #about {
              color: #000;
              font-size: 30px;
              margin: 10px 0;
            }
            .name {
              #subtitle {
                font-family: "Circe Bold", sans-serif;
                font-size: 15px;
                color: #21408040;
              }
              #line {
                width: 5%;
              }
              #title-name {
                color: $blue-dark;
                font-size: 40px;
                font-family: "Circe Bold", sans-serif;
              }
            }
            .products-card {
              display: flex;
              justify-content: space-between;
              gap: 20px;
              .card {
                width: clamp(100%, 48.44vw, 590px);
                height: clamp(100%, 32.14vw, 390px);
                display: flex;
                justify-content: space-between;
                background-color: transparent;
                box-shadow: 0px 0px 16.5211px rgba(0, 0, 0, 0.1);
                border-radius: 20px;
                overflow: hidden;
                padding: 20px;
                position: relative;
                &:nth-child(1) {
                  background: url(images/lock-bg-left.png), no-repeat;
                  background-size: 100% 100%;
                  .left {
                    width: 60%;
                    img {
                      max-width: 100%;
                    }
                  }
                  .right {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p:nth-child(1) {
                      font-family: "Circe Bold", sans-serif;
                      font-size: clamp(22px, 3.07vw, 37px);
                      color: $blue-dark;
                    }
                    p:nth-child(2) {
                      font-family: "Circe", sans-serif;
                      font-size: clamp(13px, 1.72vw, 20px);
                      color: #000000;
                    }
                    div {
                      display: flex;
                      justify-content: right;
                      align-items: center;
                      color: $blue-dark;
                      gap: 5px;
                      font-family: "Circe  Light", sans-serif;
                      span {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        background-color: #929292;
                        color: #a9a9a9;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: "Circe Bold", sans-serif;
                        &.active {
                          background-color: $blue-dark;
                          color: #fff;
                        }
                      }
                    }
                  }
                }
                &:nth-child(2) {
                  background: url(images/lock-bg-right.png), no-repeat;
                  background-size: cover;
                  .left {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p:nth-child(1) {
                      font-family: "Circe Bold", sans-serif;
                      font-size: clamp(22px, 3.07vw, 37px);
                      color: $blue-dark;
                    }
                    p:nth-child(2) {
                      font-family: "Circe", sans-serif;
                      font-size: clamp(13px, 1.72vw, 20px);
                      color: #000000;
                    }
                    div {
                      display: flex;
                      justify-content: left;
                      align-items: center;
                      color: $blue-dark;
                      gap: 5px;
                      font-family: "Circe  Light", sans-serif;
                      span {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        background-color: #929292;
                        color: #a9a9a9;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: "Circe Bold", sans-serif;
                        &.active {
                          background-color: $blue-dark;
                          color: #fff;
                        }
                      }
                    }
                  }
                }
              }
            }
            .additional-prodcts {
              padding-top: 50px;
              .name {
                #subtitle {
                  font-family: "Circe Bold", sans-serif;
                  font-size: 15px;
                  color: #21408040;
                }
                #line {
                  width: 5%;
                }
                #title-name {
                  color: $blue-dark;
                  font-size: 40px;
                  font-family: "Circe Bold", sans-serif;
                }
              }
              .cards-2 {
                display: grid;
                justify-content: space-between;
                grid-template-columns: 1fr 1fr 1fr;
                padding: 0;
                width: 100%;
                gap: 5px;
                margin: 0;
                

                background-color: transparent;
                position: relative;
                div {
                  width:95%;
                  margin: 0 auto;
                  .card {
                    width: clamp(230px, 31.41vw, 373px);
                    background: #fff;
                    border-radius: 15px;
                    &:nth-child(2) {
                      .top {
                        .right {
                          #nametype {
                            #title {
                              padding-right: 10px;
                            }
                          }
                        }
                      }
                    }
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    // height: 500px;
                    .top {
                      display: flex;
                      justify-content: space-between;
                      
                      .left {
                        width: 55%;
                        img {
                          width: clamp(50%, 5vw, 100%);
                        }
                      }
                      .right {
                        width: 45%;
                        p {
                          text-align: right;
                          padding: 0;
                          margin: 0;
                        }
                        #nametype {
                          width: 100%;
                          display: flex;
                          flex-direction: column;
                          justify-content: right;
                          align-items: end;
                          p {
                            text-align: right;
                          }
                          #title {
                            font-size: clamp(21px, 4.22vw, 40px);
                          }
                          #lock-type {
                            font-size: clamp(15px, 2.08vw, 25px);
                            color: #000;
                            text-wrap: nowrap;
                          }
                        }
                        #opportunity {
                          color: #00000050;
                          font-size: clamp(5px, 1.77vw, 10px);
                          
                        }
                      }
                    }
                    .bottom {
                      #about {
                        color: #00000050;
                        font-size: clamp(15px, 1.77vw, 19px);
                        text-align: right;
                      }
                      .price {
                        display: flex;
                        flex-direction: column;
                        justify-content: right;
                        p {
                          text-align: right;
                          color: #000;
                          &:nth-child(1) {
                            font-size: clamp(24px, 3.07vw, 35px);
                          }
                          &:nth-child(2) {
                            font-size: clamp(15px, 1.93vw, 22px);
                          }
                          &:nth-child(3) {
                            font-size: clamp(11px, 1.41vw, 16px);
                            color: #2954b144;
                          }
                        }
                      }
                    }
                    .dots {
                      display: flex;
                      justify-content: left;

                      color: $blue-dark;
                      gap: 5px;
                      font-family: "Circe  Light", sans-serif;
                      span {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        background-color: #929292;
                        color: #a9a9a9;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: "Circe Bold", sans-serif;
                        &.active {
                          background-color: $blue-dark;
                          color: #fff;
                        }
                      }
                    }
                  }
                  .button {
                    display: flex;
                    justify-content: right;
                    padding: 20px;
                    button {
                      @extend %blue-button;
                      text-align: right;
                      filter: none !important;
                    }
                  }
                }
              }
            }
          }
          #show-table {
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-size: 20px;
            p {
              color: $blue-main;
            }
          }
        }
      }
      .how-to-working {
        width: 70%;
        margin: 0 auto;
        #title {
          font-family: "Circe Bold", sans-serif;
          font-size: clamp(20px, 4.17vw, 60px);
          color: $blue-dark;
          margin-bottom: 15px;
        }
        #subtitle {
          font-size: clamp(22px, 2.71vw, 30px);
          color: #000;
        }
        .partners {
          margin-top: 50px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
          justify-content: center;
          align-items: center;
          .card {
            border: 3px solid #{$blue-dark}50;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 95%;
            height: 160px;
            img {
              max-width: 90%;
            }
          }
        }
      }
      .contact {
        width: 70%;
        margin: 0 auto;
        #title {
          font-family: "Circe Bold", sans-serif;
          font-size: clamp(20px, 4.17vw, 60px);
          color: $blue-dark;
          margin-bottom: 15px;
        }
        #about {
          font-family: "Circe", sans-serif;
          font-size: clamp(15px, 1.77vw, 19px);
          color: #000;
        }
        .form-2 {
          margin-top: 100px;
          width: clamp(500px, 90%, 150%);
          display: flex;
          position: relative;
          justify-content: space-between;

          gap: 10px;
          height: clamp(317px, 47.14vw, 588px);
          padding: 10px;
          background: linear-gradient(#f3faffef, #f3faffef),
            url("images/bag-1.png");
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
          border-radius: 20px;

          .left {
            height: auto;
            width: 60%;
            img {
              margin-top: -90px;
              max-width: clamp(317px, 48.33vw, 611px);
            }
          }
          .right {
            max-width: 40%;
            width: 45%;
            #title {
              font-family: "Circe Bold", sans-serif;
              font-size: clamp(20px, 4.17vw, 40px);
              color: $blue-dark;
              // margin-bottom: 5px;
            }

            display: flex;
            flex-direction: column;
            justify-content: space-center;
            row-gap: 20px;
            align-items: start;
            input {
              margin: 15px 0;
              width: clamp(191px, 27.86vw, 344px);
              height: 75px;
              border: none;
              caret-color: $blue-main;
              outline: none;
              padding-left: 20px;
              border-radius: 15px 0 15px 15px;
              box-shadow: 0px 8px 0px 0px $blue-main;
              color: #000;
              font-size: 20px;
            }
            input::placeholder {
              font-family: "Circe", sans-serif;
              font-size: 25px;
              color: #dadada;
            }

            #info {
              font-family: "Circe", sans-serif;
              font-size: clamp(8px, 1.04vw, 12px);
              margin-bottom: 15px;
              color: #2954b16f;
              text-wrap: balance;
              span {
                color: #2954b16f;
                text-decoration: underline;
              }
            }
            #send-form {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: $blue-main;
              border-radius: 15px;
              color: #fff;
              font-family: "Circe Bold", sans-serif;
              font-size: clamp(16px, 2.14vw, 25px);
              text-align: center;
              text-wrap: nowrap;
              width: clamp(164px, 21.09vw, 241px);
              height: clamp(44px, 5.68vw, 65px);
            }
          }
        }
      }
    }
    .bag-modal-window {
      transition: opacity 1s ease;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      z-index: 9;
      background-color: $blue-dark;
      display: none;
      justify-content: center;
      align-items: center;
      .modal-window {
        width: clamp(600px, 83.33vw, 1000px);
        height: clamp(450px, 53.65vw, 580px);
        border-radius: 20px;
        padding: 10px;
        background-color: #f1f7ff;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .cancel {
          position: absolute;
          top: 10px;
          button {
            cursor: pointer;
            background-color: transparent;
          }
        }
        .form {
          display: flex;
          justify-content: space-between;
          padding: 20px;
          align-items: center;
          width: 100%;
          .left {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            margin: auto;
            img {
              min-width: clamp(247px, 34.06vw, 407px);
            }
          }
          .right {
            #title {
              font-family: "Circe Bold", sans-serif;
              font-size: clamp(24px, 3.33vw, 40px);
              text-wrap: nowrap;
              text-align: right;
              color: $blue-dark;
            }
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            input {
              margin: 15px 0;
              width: clamp(191px, 27.86vw, 344px);
              height: 75px;
              border: none;
              caret-color: $blue-main;
              outline: none;
              padding-left: 20px;
              border-radius: 15px 0 15px 15px;
              box-shadow: 0px 8px 0px 0px $blue-main;
              color: #000;
              font-size: 20px;
            }
            input::placeholder {
              font-family: "Circe", sans-serif;
              font-size: 25px;
              color: #dadada;
            }

            #info {
              text-align: right;
              font-family: "Circe", sans-serif;
              font-size: clamp(8px, 1.04vw, 12px);
              margin-bottom: 15px;
              color: #2954b16f;
              text-wrap: nowrap;
              span {
                color: #2954b16f;
                text-decoration: underline;
              }
            }
            #send-form-modal-window {
              padding: 10px 20px;
              background-color: $blue-main;
              border-radius: 15px;
              color: #fff;
              font-family: "Circe Bold", sans-serif;
              font-size: clamp(16px, 2.14vw, 25px);
              text-align: center;
              text-wrap: nowrap;
            }
          }
        }
      }
    }
    .bag-modal-window.show {
      display: flex;
      opacity: 1;
    }
  }
}

@media (max-width: 1440px) {
  // adapt it to the screen

  body {
    main {
      header {
        div {
          width: 80%;
        }
      }
      .main-section {
        .home {
          
          background-size: 120%;
          .home-body {
            width: 80%;
            .right{
              .item{
                &:nth-child(2){
                  right: -8vw;
                }
              }
            }
          }
        }
        .about-us {
          width: 80%;
        }
        .solution {
          width: 80%;
        }
        .products{
          width: 80%;
          .body{
            .production{
              .products-card{

              }
              .additional-prodcts{
                .cards-2{
                  div{
                    .card{
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
        .contact{
          width: 80%;
          .form-2{
            justify-content: center;
            width: 100%;
            .left{
              width: 40%;
              img{
                max-width: 50%;
                position: absolute;
                left: -5%;
              }
            }
            .right{
              width: 60%;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  body {
    main {
      header {
        div {
          width: 90%;
        }
      }
      .main-section {
        .home {
          height: 65vh;
          background-size: 120%;
          padding-top: 20px;
          .home-body {
            width: 95%;
          }
        }
        .about-us {
          width: 95%;
          padding-top: 20px;
          .problem-solving {
            .body {
              grid-template-columns: repeat(3, 1fr);
            }
          }
        }
        .solution {
          width: 95%;
          margin: 100px auto 0;
        }
        .products {
          width: 95%;
          .body {
            .production {
              width: 100%;
              #about {
                text-wrap: balance;
              }
              .products-card {
                .card {
                  width: 49%;
                  height: auto;
                }
              }
              .additional-prodcts{

                .cards-2{
                  
                  div{
                    width: 90%;
                    .card{
                      align-items: end;
                      width: 100%;
                      padding: 0;
                      padding-bottom: 5px;
                    }
                  }
                }
              }
            }
          }
        }
        .how-to-working{
          width: 95%;
        }
        .contact{
          width: 95%;
          .form-2{
            width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  body {
    main {
      overflow: hidden ;
      header{
        width: 100%;
        
        div{
          width: 100%;
          .left{
            width: 30%;
          }
          .menu{
            width: 70%;
            .nav{
              width: 100%;
              .middle{
                width: 70%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
              }
              .right{
                width: 40%;
                a{
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
      .main-section {
        .home {
          height: auto ;
          background-size: 120%;
          padding-top: 50px;
          background-size: 100% 200%;
          .home-body {
            width: 95%;
            .right{
              justify-content: end;
              .item{
                &:nth-child(1){
                  width: 50%;
                  left: -50%;
                  bottom: 10%;
                }
                &:nth-child(2){
                  width: 50%;
                  right: 20%;
                  bottom: 10%;
                }
              }
              #man-phone{
                width: 140%;
                height:atuo;
              }
            }
          }
        }
        .about-us {
          .problem-solving {
            .body {
              grid-template-columns: repeat(2, 1fr);
            }
          }
        }
        .solution {
          width: 95%;
          // margin: 150px auto 0;
        }
        .products {
         
          
          .body {
            .cards{
              position: relative;
              justify-content: left;
              .card{
                &:nth-child(1){
                  width: 50%;
                }
                &:nth-child(2){
                  width: 50%;
                  position: relative;
                  right: -50px;
                  z-index: 3;
                }
              }
            }
            .production {
              width: 100%;
              #about {
                text-wrap: balance;
              }
              .products-card {
                .card {
                  width: 49%;
                  height: auto;
                }
              }
            }
          }
        }
        .how-to-working{
         
        }
        .contact{
          .form-2{
            padding-bottom: 10px;
            height: auto;
            .left{
              img{
                max-width: 55%;
                top: 10%;
              }
            }
            .right {
              justify-content: space-evenly;
              p{
                text-align: center;
              }
              #send-form{
                padding: 10px 20px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 360px) {
  body {
    main {
     header{
      padding:0 10px;
        div{
          justify-content: space-between;
          .left{
            width: 90%;
          }
          .menu{
            width: 10%;
            .burger-menu-btn{
              display: block;
              position: relative;
              z-index: 5;
            }
            .nav{
              position: absolute;
              padding-top:70px ;
              padding-bottom: 600px;
              top: 0;
              right: 0;
              height: 100vh;
              width: 200px;
              flex-direction: column;
              background-color: #214080;
              row-gap: 30px;
              display: none;
              div{
                align-items: end;

              }
              .middle{
                flex-direction: column;
                display: flex;
                justify-content: space-between;
                row-gap: 30px;
              }
            }
          }
        }
     }
      .main-section {
        .home {
          .home-body {
            .left{
              .buttons{
                flex-direction: column;
                #demo-version{
                  width: 100px;
                  height: auto;
                  padding: 10px 10px;
                  text-align: center;
                  text-wrap: nowrap;
                }
              }
            }
            .right {
              .item{
                display: none;
              }
              #man-phone{
                position: absolute;
                width: 350%;
                right: -150%;
                transform: scaleX(-1);
              }
            }
          }
        }
        .about-us {
          .problem-solving {
            .body {
            }
          }
        }
        .solution {
          .body{
            grid-template-columns: repeat(2, 1fr) ;
            display: grid;
            .card{
              &:nth-child(3){
                grid-column: span 2;
              }
            }
          }
        }
        .products {
          .body {
            .cards{
              flex-direction: column;
              padding: 0;
              
              .card{
                padding: 5px;
                width: 100%;
                &:nth-child(1){
                  width: 100%;
                }
                &:nth-child(2){
                  position: static;
                  width: 100%;
                }
              }
            }
            .production {
              #about {
              }
              .products-card {
                .card {
                }
              }
            }
          }
        }
        .contact{
          .form-2{
            display: flex;
            justify-content: center;
            overflow: hidden;
            .left{
              position: absolute;
              bottom: 0;
              right: 20%;
              z-index: 0;
              img{
                width: 200%;
                max-width: 350%;
                position: static;
                opacity: 20%;
              }
            }
            .right {
              width: 100%;
              max-width: 100%;
              align-items: start ;
              position: relative;
              z-index: 1;
              #title{
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }
}
