@font-face {
  font-family: "Circe Extra Light";
  src: url(fonts/Circe/CRC25.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circe Light";
  src: url(fonts/Circe/CRC35.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url(fonts/Circe/CRC55.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Circe Bold";
  src: url(fonts/Circe/CRC65.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s;
  font-family: "Circe", sans-serif;
  color: #fff;
}

button,
a {
  cursor: pointer;
  border: none;
  outline: none;
}

body main .main-section .home .home-body .left .buttons #consultation {
  border-radius: 15px;
  padding: 10px 30px;
  text-align: center;
  color: #214080;
  background-color: #fff;
  border: none;
  outline: none;
}

body main .main-section .products .body .cards .card button, body main .main-section .home .home-body .left .buttons #demo-version {
  border-radius: 15px;
  padding: 10px 20px;
  background: linear-gradient(263.16deg, #214080 -5.59%, #2954b1 85.18%);
  filter: drop-shadow(0px 0px 20px rgba(41, 84, 177, 0.5));
  border: none;
  outline: none;
}

body {
  position: relative;
}
body main {
  background-color: #f1f7ff;
  position: relative;
}
body main header {
  width: 100%;
  height: 70px;
  background-color: #2954b1;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
}
body main header div {
  width: 70%;
  margin: 0 auto;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main header .middle a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-family: "Circe Extra Light", sans-serif;
  padding: 10px;
}
body main header .right {
  display: flex;
  justify-content: center;
  gap: 5px;
  position: relative;
}
body main header .right p {
  color: #fff;
  font-weight: 800;
}
body main .main-section .home {
  padding-left: 15%;
  padding-right: 15%;
  height: 100vh;
  background: url(images/bg.png), no-repeat;
  background-size: cover;
}
body main .main-section .home .home-body {
  padding: 100px 0;
  display: flex;
}
body main .main-section .home .home-body .right {
  padding: 70px 70px;
  position: relative;
}
body main .main-section .home .home-body .right .request {
  position: absolute;
  padding-top: 10px;
  bottom: 5%;
  left: 12%;
  width: 180px;
  text-align: center;
  background-color: rgba(119, 158, 203, 0.1921568627);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 15px;
}
body main .main-section .home .home-body .right .request p:nth-child(1) {
  font-size: 20px;
}
body main .main-section .home .home-body .right .request .white-bg {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1254901961);
}
body main .main-section .home .home-body .right .request .white-bg div {
  text-align: left;
  padding-left: 15px;
  padding-right: 6px;
}
body main .main-section .home .home-body .right .request .white-bg div p {
  font-family: "Circe Extra Light", sans-serif;
  font-size: 15px;
}
body main .main-section .home .home-body .right .request .white-bg div div {
  display: flex;
  padding: 0;
}
body main .main-section .home .home-body .right .request .white-bg div div p {
  width: 70%;
}
body main .main-section .home .home-body .right .learn-more {
  box-shadow: 2px 2px 50px #214080;
  position: absolute;
  padding-top: 10px;
  top: 3%;
  right: 20%;
  width: 180px;
  text-align: center;
  background-color: rgba(119, 158, 203, 0.1921568627);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 15px;
}
body main .main-section .home .home-body .right .learn-more p:nth-child(1) {
  font-size: 20px;
}
body main .main-section .home .home-body .right .learn-more .white-bg {
  border-radius: 15px;
  background-color: rgba(188, 188, 188, 0.1254901961);
}
body main .main-section .home .home-body .right .learn-more .white-bg div {
  text-align: left;
  padding-left: 15px;
  padding-right: 6px;
}
body main .main-section .home .home-body .right .learn-more .white-bg div p {
  font-family: "Circe Extra Light", sans-serif;
  font-size: 15px;
}
body main .main-section .home .home-body .right .learn-more .white-bg div div {
  display: flex;
  padding: 0;
}
body main .main-section .home .home-body .right .learn-more .white-bg div div p {
  width: 70%;
}
body main .main-section .home .home-body .left {
  padding: 100px 0;
  position: relative;
}
body main .main-section .home .home-body .left #take-advantage {
  font-size: 30px;
  font-family: "Circe", sans-serif;
}
body main .main-section .home .home-body .left #name {
  font-size: 80px;
  font-weight: 600;
}
body main .main-section .home .home-body .left #info {
  font-size: 23px;
  font-weight: 100;
  font-family: "Circe Extra Light", sans-serif;
  margin-bottom: 50px;
}
body main .main-section .home .home-body .left .buttons {
  display: flex;
  gap: 10px;
}
body main .main-section .home .home-body .left .buttons #consultation {
  display: flex;
  align-items: center;
}
body main .main-section .home .home-body .left .buttons #consultation p {
  color: #214080;
  font-size: 25px;
  font-family: "Circe Bold", sans-serif;
}
body main .main-section .home .home-body .left .buttons #demo-version {
  font-size: 23px;
  font-family: "Circe Bold", sans-serif;
}
body main .main-section .home .home-body .left #arrow-bottom {
  position: absolute;
  bottom: 10%;
  left: -10%;
  transform: rotate(90deg);
}
body main .main-section .about-us {
  height: 150vh;
  color: #000;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 200px;
}
body main .main-section .about-us .about-body {
  display: flex;
  gap: 50px;
}
body main .main-section .about-us .about-body .right #title {
  color: #214080;
  font-family: "Circe Bold", sans-serif;
  font-size: 60px;
}
body main .main-section .about-us .about-body .right #about {
  color: #000000;
  font-size: 25px;
}
body main .main-section .about-us .problem-solving #title {
  font-family: "Circe Bold", sans-serif;
  font-size: 60px;
  color: #214080;
  margin-top: 100px;
  margin-bottom: 50px;
}
body main .main-section .about-us .problem-solving .body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
body main .main-section .about-us .problem-solving .body .card {
  height: 155px;
  display: flex;
  gap: 10px;
}
body main .main-section .about-us .problem-solving .body .card .left div {
  height: 155px;
  width: 6px;
  border-radius: 15px;
  background-color: #214080;
}
body main .main-section .about-us .problem-solving .body .card .right #title-card {
  font-family: "Circe Bold", sans-serif;
  font-size: 34px;
  color: #214080;
}
body main .main-section .about-us .problem-solving .body .card .right #about-card {
  font-family: "Circe", sans-serif;
  font-size: 20px;
  color: #000000;
}
body main .main-section .solution {
  padding-left: 15%;
  padding-right: 15%;
}
body main .main-section .solution #title {
  font-family: "Circe Bold", sans-serif;
  font-size: 60px;
  color: #214080;
  margin-bottom: 50px;
}
body main .main-section .solution .body {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  margin-bottom: 100px;
  gap: 20px;
}
body main .main-section .solution .body .card {
  width: 300px;
  height: 386px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main .main-section .solution .body .card .dots {
  display: flex;
  gap: 10px;
}
body main .main-section .solution .body .card .dots p {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #929292;
  color: #a9a9a9;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}
body main .main-section .solution .body .card .dots p#active {
  background-color: #214080;
  color: #fff;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}
body main .main-section .solution .body .card:nth-child(1) {
  background: url(images/image-1.png), no-repeat;
  background-size: contain;
}
body main .main-section .solution .body .card:nth-child(2) {
  background: url(images/image-2.png), no-repeat;
  background-size: contain;
}
body main .main-section .solution .body .card:nth-child(3) {
  background: url(images/image-3.png), no-repeat;
  background-size: contain;
  width: 599px;
  justify-content: space-between;
  align-items: end;
}
body main .main-section .products {
  padding-left: 15%;
  padding-right: 15%;
}
body main .main-section .products #title {
  color: #214080;
  font-size: 60px;
  font-family: "Circe Bold", sans-serif;
}
body main .main-section .products .body .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body main .main-section .products .body .cards .card {
  box-shadow: 0px 0px 16.0954px rgba(0, 0, 0, 0.1);
  border-radius: 17.8838px;
  width: 575px;
  padding: 30px;
  background: linear-gradient(rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 0.96)), url("images/bag-1.png") no-repeat;
  background-size: cover;
}
body main .main-section .products .body .cards .card button {
  margin: 0;
  filter: none;
}
body main .main-section .products .body .cards .card p {
  color: #000;
}
body main .main-section .products .body .cards .card #card-title {
  font-family: "Circe", sans-serif;
  font-size: 18px;
}
body main .main-section .products .body .cards .card #card-about {
  font-family: "Circe", sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}
body main .main-section .products .body .cards .card #card-name {
  font-family: "Circe Bold", sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
}
body main .main-section .products .body .cards .card #card-price {
  margin-bottom: 5%;
}
body main .main-section .products .body .cards .card #card-price #full-price {
  font-size: 35px;
}
body main .main-section .products .body .cards .card #card-price #price-per-month {
  font-size: 20px;
}
body main .main-section .products .body .cards .card #card-price #price-month {
  color: rgba(41, 84, 177, 0.7137254902);
}
body main .main-section .products .body .table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
body main .main-section .products .body .table table {
  background-color: #fff;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #21408050;
  border: 1px solid rgba(41, 84, 177, 0.5);
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
  border-collapse: separate;
  border-spacing: 0;
  padding: 0 30px;
}
body main .main-section .products .body .table table tr {
  border-bottom: 3px solid #000;
}
body main .main-section .products .body .table table tr th {
  padding: 30px 10px;
  color: #214080;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}
body main .main-section .products .body .table table tr th:first-child {
  text-align: left;
}
body main .main-section .products .body .table table tr td:not(:first-child) {
  text-align: center;
}
body main .main-section .products .body .table table tr td:not(:first-child) img {
  width: 50px;
}
body main .main-section .products .body .table table tr td:first-child {
  display: flex;
  gap: 5px;
}
body main .main-section .products .body .table table tr p {
  color: #000;
}
body main .bag-modal-window {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #214080;
  display: none;
  justify-content: center;
  align-items: center;
}
body main .bag-modal-window .cancel button {
  cursor: pointer;
  background-color: transparent;
}
body main .bag-modal-window .modal-window {
  width: 960px;
  height: 580px;
  border-radius: 20px;
  padding: 30px;
  background-color: #f1f7ff;
}
body main .bag-modal-window .modal-window .form {
  display: flex;
}
body main .bag-modal-window .modal-window .form .left {
  padding: 20px;
}
body main .bag-modal-window .modal-window .form .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body main .bag-modal-window .modal-window .form .right #title {
  font-family: "Circe Bold", sans-serif;
  font-size: 40px;
  color: #214080;
}
body main .bag-modal-window .modal-window .form .right input {
  margin: 15px 0;
  width: 350px;
  height: 75px;
  border: none;
  caret-color: #2954b1;
  outline: none;
  padding-left: 20px;
  border-radius: 15px 0 15px 15px;
  box-shadow: 0px 8px 0px 0px #2954b1;
  color: #000;
  font-size: 20px;
}
body main .bag-modal-window .modal-window .form .right input::-moz-placeholder {
  font-family: "Circe", sans-serif;
  font-size: 25px;
  color: #dadada;
}
body main .bag-modal-window .modal-window .form .right input::placeholder {
  font-family: "Circe", sans-serif;
  font-size: 25px;
  color: #dadada;
}
body main .bag-modal-window .modal-window .form .right #info {
  text-align: right;
  font-family: "Circe", sans-serif;
  font-size: 12px;
  margin-bottom: 15px;
  color: rgba(41, 84, 177, 0.4352941176);
}
body main .bag-modal-window .modal-window .form .right #info span {
  color: rgba(41, 84, 177, 0.4352941176);
  text-decoration: underline;
}
body main .bag-modal-window .modal-window .form .right #send-form-modal-window {
  padding: 20px 40px;
  background-color: #2954b1;
  border-radius: 15px;
  color: #fff;
  font-family: "Circe Bold", sans-serif;
  font-size: 25px;
}/*# sourceMappingURL=style.css.map */